<div class = "record-display-container">
	<div> 
		<table> 
			<tr> 
				<th class ="labels"> Account Number:</th> <th class="values">{{client?.accountNumber}}</th>
				<th class ="labels">Account Address:</th> <th class="values">{{client?.address}}</th>
			</tr>
			<tr> 
				<th class ="labels">Client:</th> <th class="values">{{client?.name}} </th>
				<th class ="labels"> Client service:</th> <th class="values">{{client?.service}}</th>
			</tr>
		</table>
	</div>
	<div class="record-grid-container">
		<app-grid [gridWidth] ="67" [gridColumns] = "gridColumns" [gridRows] ="records" > </app-grid>
	</div>	
</div>

