table{
    width: 52em;
}

.values{
    font-weight: normal;
}

.labels{
    width: 9em;
}

.record-display-container{
    height: 100%;
    width: 100%;
    padding-left: 25%;
}
.record-grid-container{
    height: 96%;
    overflow: auto;
}