table{
    width: 52em;
}

.values{
    font-weight: normal;
}

.labels{
    width: 9em;
}

.record-display-container{
    height: 100%;
    width: 100%;
    background-color:rgb(211,211,211);
}
.record-grid-container{
    height: 87.7%;
    overflow: auto;
}