<div class="modal-header"
 [ngClass]="{errorMessage: isError, sucsessMessage: !isError}">

 <p id = "errorMessage" *ngIf = "isError">Error</p> 
 <p id = "SuccessMessage" *ngIf = "!isError">Success</p> 

</div>

<div class="custom-modal-body">
    <div> 
        {{message}}
    </div>
</div>
<div class="modal-footer">
    <div *ngIf="!isError"> 
        <button id = "okButton" [disabled] ="!isLoading" (click)="navigateHome()">Ok</button>
    </div>
    <div *ngIf ="isError">
        <button id = "errorButton" [disabled] ="!isLoading" (click)="closeModel()">Ok</button>
    </div>
    
</div>
