.main-container{
    padding-left: 53%;
    width: 100%;
    padding-top: 18%;
}

.main-container button{
    width: 200px;
}

.textFields{
    margin-top: 8px;
}

.textFields input{
    width: 200px;
}