.main{
	height: 100%;
	
}
html, body { height: 100%; }
body { margin: 0; 
	font-family: Roboto, 
	"Helvetica Neue", sans-serif;
	background-color: rgb(123, 142, 143); 
}


.modal-content{
    width:70%;
}

.modal-header{
	padding: 0.5rem 0.5rem;
}

.modal-body{
	padding: 0.2rem;
}

.modal-footer{
	padding: 0.5rem;
	justify-content: flex-start;
}

a {
	color:blue;
}

a:visited{
	color:purple;
}

ag-grid-angular{
  height: 100%;
}
