.login-container{
    width: 536px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
}

.container{
    border:solid;
    width:100%;
    border-width: thin;
    border-radius: 20px;
}

.container div{
    margin-top: 15px;
}

.container input{
    width: 500px;
}

.login-button{
    margin-top:.5%;
    width: 500px;
    font-size: 20px;
}

.user-label-display{
    text-align: center;
}


.create-link{
    float: left;
    margin-right: 236px;
}

.link-container{
    margin-bottom: 20px;
    font-size: 17px;
}