<div class="login">
	<div class="container"> 
		<h3> User login </h3>
		<div class="textFields">
			<input (keyup.enter) = "authorizeLogin($event)" placeholder="Enter user name" [(ngModel)]="userName">
		</div>
		<div class="textFields">
			<input (keyup.enter) = "authorizeLogin($event)" type="password" placeholder="Enter password" [(ngModel)]="password">
		</div>

		<div class = "loginButton">
			<Button class="buttonComponent" (click) = "authorizeLogin($event)">Login</Button>
		</div>
		<div> 	
			<a routerLink="createAccount" >Create Account</a>
		</div>
		<div> 
			<a routerLink = "passwordHint"> Forget Password?</a>
		</div>
	</div>
	
</div>