<div class="login-container">
	<h3 class="user-label-display"> User login </h3>
	<div class="container">
		<div>
			<input (keyup.enter)="authorizeLogin($event)" placeholder="Enter user name" [(ngModel)]="userName">
		</div>
		<div>
			<input (keyup.enter)="authorizeLogin($event)" type="password" placeholder="Enter password" [(ngModel)]="password">
		</div>

		<div>
			<Button class="login-button" (click)="authorizeLogin($event)">Login</Button>
		</div>
		<div class= "link-container">
			<a class = "create-link" routerLink="createAccount">Create Account</a>
			<a routerLink="passwordHint"> Forget Password?</a>
		</div>

			
	</div>

</div>