.menu{
	width:10%;
	height:100%;
	position:relative;
	overflow: auto;
	padding-top: 2%;
	min-width: 200px;
	float:left;
}


.mainContainer{
	height: 89%;
}

.content{
	margin-left: 200px;
    padding-top: 0;
    position: relative;
    background-color: white;
    width: 62%;
	min-width: 803px;
	height: 100%;
}

.header{
	padding-top: .5%;
	text-align: left;
	height: 11%;
	position: relative;
	min-width: 770px;
}
.header h1{
	position: relative;
}

.footer{
    width: 100%;
    bottom: 0;
    position: fixed;
    background: grey;
    height: 60px;
}

.logged-in-user{
	float:left;
	margin-left: -100px;
	left: 50%;
	position: fixed;
}

.git-link{
	float: right;
	position: relative;
	right: 40px;	
	z-index: 10000;
	font-size: 20px;
}


.logged-in-text{
	font-weight: bold;
	float: left;
}

.user-name{
	padding-left: 105px;
}

.logout-link{
	float: right;
    padding-right: 10px;
    font-size: 20px;
}

