.menu{
	width:10%;
	position:relative;
	overflow: auto;
	padding-top: 2%;
	min-width: 200px;
	float:left;
}


.mainContainer{
	height: 89%;
	width: 100%;
}

.content{
    padding-top: 0;
    position: relative;
    background-color: rgb(211,211,211);
    width: 100%;
	min-width: 803px;
	height: 100%;
}


.content-no-margin{
	margin-left: 0px;
    padding-top: 0;
    position: relative;
    background-color: rgb(211,211,211);
    width: 62%;
	min-width: 803px;
	height: 100%;
}


.header{
	width:100%;
	min-width: 1033px;
	background-color: rgb(240,230,140);
}

.sub-header{
	display: flex;
	/*
	padding-top: .5%;
	text-align: left;
	position: relative;
	min-width: 770px;
	max-width: 1920px;
	*/
}

.header h1{
	position: relative;
}

.footer{
	width: 100%;
    bottom: 0;
    background-color: rgb(211,211,211);
	display: flex;
	min-width: 770px;
	max-width: 1920px;
	padding-left: 25%;
    padding-top: 11px;
}

.sub-footer{
	position: absolute;
    right: 50%;
}


.logged-in-user{
	float: left;
    position: absolute;
    left: 48%;
}




.label-text{
    font-weight: bold;
    float: left;
}

.user-name{
	padding-left: 105px;
}

.logout-link{
    /* float: right; */
    position: absolute;
    /* padding-right: 10px; */
    font-size: 20px;
    right: 24%;
}

.page-container{
	height: 100%;
	width:100%;
	overflow: auto;
}

.version{
	float:left;
}
.version-number{
	float:left; 
}

.version-container{
	display: inline-block;
    float: left;
    /* padding-right: 25%; */
    height: 20px;
    padding-right: 31px;
}

.application-info-container{
	right: 0;
    position: absolute;
}

