<div class = "mainContainer" > 
	<div class = "content">
		<div class = "header"> 
			<div class = "sub-header"> 	
				<div class="title"> 
					<h1>Electricity Record Manager</h1> 
				</div>
				<div> 
					<div class = "version-container"> 
						<p class = "label-text">Version: </p>
						<p class = "version-number">1.0</p>
					</div>
					<div class="git-link"> 
						<a href="https://github.com/LastChance89/BGEUserDataApplication">GitHub Source</a>
					</div>
				</div> 


				<div *ngIf="loggedInUser != null" class ="login-user-container"> 
						<div >
							<p class='label-text'>Logged  in as</p>
							<p class = "user-name"> {{loggedInUser}}</p>
						</div>
						<div>
							<a href="javascript:void(0)" (click)="logout()">Logout</a>
						</div>
				</div> 
			</div>
		</div>
		<div class = "menu" *ngIf="showMenu">
			<app-navigation-menu> </app-navigation-menu>
		</div>
		<router-outlet></router-outlet>
	</div>
</div>

