<div>
	<select id="searchSelect" [(ngModel)]="searchField">
		<option value="ACC_NUM">Account Number</option>
		<option value="NAME">Name</option>
		<option value="SERVICE">Service</option>
	</select> 
	<select id="searchCritera" [(ngModel)]="searchCritera">
		<option value="EQUAL">Equals</option>
		<option value="LIKE">Like</option>
		<!-- <option value="BETWEEN">Between</option> Need to implement -->
	</select> 
	<input id="userValueInput" placeHolder="Enter Value Here" [(ngModel)]="inputValue" class="text-area">
	<button id="searchButton" (click)="getClients()" class ="search-btn">search</button>	
</div>

